

  <ion-grid style="position: absolute; height: 100%;">
    <ion-row style="height: 20%;">
      <ion-col col-6 offset-3>
        <div style="position: absolute; width: 100%; height: 100%;">
          <ngx-gauge class="gauge-custom" style="margin-left: auto; margin-right: auto; display: block;" *ngIf="scoreLoaded" [type]="gaugeChartType" 
            [value]="score" 
            [label]="gaugeChartLabel"  
            [append]="gaugeChartAppend"
            [thresholds]="gaugeChartThresholdConfig"
            [duration]="gaugeChartDuration"
            [cap]="gaugeChartCap"
            [thick]="gaugeChartThick"
            [size]="gaugeChartSize">
          </ngx-gauge>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="height: 40%;">
      <ion-col>
        <div style="position: absolute; width: 70%; left: 10%;">
          <canvas baseChart *ngIf="temperatureLoaded"
                    [datasets]="temperatureChartData"
                    [labels]="temperatureChartLabels"
                    [options]="temperatureChartOptions"
                    [colors]="temperatureChartColors"
                    [legend]="lineChartLegend"
                    [chartType]="lineChartType">
          </canvas>
        </div>
      </ion-col>
      <ion-col>
        <div style="position: absolute; width: 70%; left: 10%;">
          <canvas baseChart *ngIf="brightnessLoaded"
                      [datasets]="brightnessChartData"
                      [labels]="brightnessChartLabels"
                      [options]="brightnessChartOptions"
                      [colors]="brightnessChartColors"
                      [legend]="lineChartLegend"
                      [chartType]="lineChartType">
          </canvas>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="height: 40%;">
      <ion-col>
        <div style="position: absolute; width: 70%; left: 10%;">
          <canvas baseChart *ngIf="airQualityLoaded"
                      [datasets]="airQualityChartData"
                      [labels]="airQualityChartLabels"
                      [options]="airQualityChartOptions"
                      [colors]="airQualityChartColors"
                      [legend]="lineChartLegend"
                      [chartType]="lineChartType">
          </canvas>
        </div>
      </ion-col>
      <ion-col>
        <div style="position: absolute; width: 70%; left: 10%;">
          <canvas baseChart *ngIf="soundLoaded"
                      [datasets]="soundChartData"
                      [labels]="soundChartLabels"
                      [options]="soundChartOptions"
                      [colors]="soundChartColors"
                      [legend]="lineChartLegend"
                      [chartType]="lineChartType">
          </canvas>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

