

  <ion-grid style="position: absolute; height: 100%;">
    <ion-row flex-wrap: wrap-reverse>
      <ion-col>
        <div style="position: absolute; width: 100%; height: 100%;">
          <canvas baseChart *ngIf="temperatureLoaded"
                    [datasets]="temperatureChartData"
                    [labels]="temperatureChartLabels"
                    [options]="temperatureChartOptions"
                    [colors]="temperatureChartColors"
                    [legend]="lineChartLegend"
                    [chartType]="lineChartType">
          </canvas>
        </div>
      </ion-col>
      <ion-col>
        <div style="display: block; margin-left: auto; margin-right: auto;">
          <canvas baseChart *ngIf="brightnessLoaded"
                      [datasets]="brightnessChartData"
                      [labels]="brightnessChartLabels"
                      [options]="brightnessChartOptions"
                      [colors]="brightnessChartColors"
                      [legend]="lineChartLegend"
                      [chartType]="lineChartType">
          </canvas>
        </div>
      </ion-col>
    </ion-row>
    <ion-row flex-wrap: wrap-reverse>
      <ion-col>
        <div style="position: absolute; width: 100%; height: 100%;">
          <canvas baseChart *ngIf="airQualityLoaded"
                      [datasets]="airQualityChartData"
                      [labels]="airQualityChartLabels"
                      [options]="airQualityChartOptions"
                      [colors]="airQualityChartColors"
                      [legend]="lineChartLegend"
                      [chartType]="lineChartType">
          </canvas>
        </div>
      </ion-col>
      <ion-col>
        <div style="display: block; margin-left: auto; margin-right: auto;">
          <canvas baseChart *ngIf="soundLoaded"
                      [datasets]="soundChartData"
                      [labels]="soundChartLabels"
                      [options]="soundChartOptions"
                      [colors]="soundChartColors"
                      [legend]="lineChartLegend"
                      [chartType]="lineChartType">
          </canvas>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

